@use 'variables' as v;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: v.$font-family-base;
    line-height: v.$line-height-base;
    font-weight: v.$font-weight-base;

    color-scheme: light;
    color: v.$text-black;
    background-color: v.$background-color;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: v.$font-size-base;
    -webkit-text-size-adjust: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    font-weight: v.$font-weight-link;
    color: v.$link-color;
    text-decoration: inherit;

    &:hover {
        color: v.$link-hover;
    }
}
