// Colors
$white: #ffffff;
$secondary-color: #000000;
$dark-white: #f9f9f9;
$text-black: #252525;
$text-grey: #676767;
$text-grey-dark: #606060;
$text-light: #ffffff;
$light-grey: #cbcbcb;
$purple-light: #6c5fbc;
$purple-middle: #6155ae;
$purple-dark: #5c4eae;
$heading-one: #201f1f;
$heading-two: #18181b;
$heading-three: #323142;

$background-color: $dark-white;
$link-color: $text-grey-dark;
$link-hover: $purple-light;

$font-family-base:
    Inter,
    Poppins,
    Public Sans,
    Manrope,
    Quicksand;
$font-size-base: 16px;
$line-height-base: 1.5;
$font-weight-base: 400;
$font-weight-link: 500;
$heading-size: 3.2em;
$heading-line-height: 1.1;
