@use '@app/styles/variables' as v;

.save_restaurant {
    border-radius: 50%;
    background-color: #dbd9ee;
    border: none;
    padding: 10px;
    span {
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:active {
        opacity: 0.8;
        scale: (0.9);
    }
}
