.heart {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    width: 21px;
    height: 19px;
    margin: 0px;
    padding: 0;
    border-radius: 50%;
    &:hover {
        transform: scale(1.1);
    }
    svg path {
        transition:
            fill 0.5s ease,
            stroke 0.5s ease;
    }
}
