@use '@app/styles/variables' as v;
@use '@app/styles/mixins' as m;

.card_wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    list-style-type: none;
    background-color: v.$white;
    border-radius: 34px;
    min-width: 140px;
    min-height: 230px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    transform-origin: center;
    will-change: transform;

    &:hover {
        transform: scale(1.03);
    }
}
