.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    user-select: none;
    cursor: default;
}

.logo {
    max-width: 112px;
    max-height: 100%;
    object-fit: contain;
    display: block;
}
